
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Scraped</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
.figure-caption {
    padding: 10px;
}
figure {
    padding: 15px;
}
div .facts-box {
    padding: 15px;
    border: 1px solid gray;
}
.facts-box h2 {
    margin-top: 5px;
}
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Latest Mars News</h2>
          <h4>{{ information.news.title }}</h4>
          <p>{{ information.news.paragraph }}</p>
          </div>
        </div>
        <div class="row">
                <div class="col-md-8">
                    <h2>Featured Mars Image</h2>
                    <img src="{{ information.featured_img }}" alt="Mars image" class="featuredpic" width=90%>
                    </div>
                <div class="col-md-4">
                    <div class="facts-box">
                            <h2>Current Weather on Mars</h2>
                            <p>{{ information.current_weather }}</p>
                        </div>
                            <h2>Mars Facts</h2>
                            <table class="table table-bordered table-dark">
                                {% for key, value in information.facts.items() %}
                                    <tr>
                                        <th> {{ key }} </th>
                                        <td> {{ value }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                </div>
    </div>
    <div class="container">
            <div class="row">
              <div class="col-md-12 text-center hempics">
                    <h2>Mars Hemispheres</h2>
                    <div class="row">
                    <div class="col-md-6">  
                            <figure class="figure text-center">
                            <img src="{{ information.hemispheres[0].img_url }}" class="figure-img img-fluid rounded" alt="lat vs cloud graph" width=90%>
                            <figcaption class="figure-caption">{{ information.hemispheres[0].title }}</figcaption>
                        </figure></div>
                        <div class="col-md-6">  
                        <figure class="figure text-center">
                              <img src="{{ information.hemispheres[1].img_url }}" class="figure-img img-fluid rounded" alt="lat vs cloud graph" width=90%>
                              <figcaption class="figure-caption">{{ information.hemispheres[1].title }}</figcaption>
                        </figure></div></div>
                        <div class="row">
                        <div class="col-md-6">  
                        <figure class="figure text-center">
                            <img src="{{ information.hemispheres[2].img_url }}" class="figure-img img-fluid rounded" alt="lat vs cloud graph" width=90%>
                            <figcaption class="figure-caption">{{ information.hemispheres[2].title }}</figcaption>
                        </figure></div>
                        <div class="col-md-6">
                        <figure class="figure text-center">
                            <img src="{{ information.hemispheres[3].img_url }}" class="figure-img img-fluid rounded" alt="lat vs cloud graph" width=90%>
                            <figcaption class="figure-caption">{{ information.hemispheres[3].title }}</figcaption>
                        </figure></div></div>
                        </div>
  </div>
</body>

</html>
