
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Scraped</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <!-- <p>Some information about Mars.</p> -->
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <!-- <img src="{{ information.featured_img }}" alt="Mars image"> -->
    <!-- <h2>The typical weather on Mars is:</h2>
    <h3>{{ information.current_weather }}</h3> -->
    <!-- <h3>Min Temp: {{ information.min_temp }}</h3> -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Latest Mars News</h2>
          <h4>{{ information.news.title }}</h4>
          <p>{{ information.news.paragraph }}</p>
          </div>
        </div>
        <div class="row">
                <div class="col-md-9">
                    <h2>Featured Mars Image</h2>
                    <img src="{{ information.featured_img }}" alt="Mars image" class="featuredpic" width=600px>
                    </div>
                    <div class="col-md-3">
                            <h2>Current Weather on Mars</h2>
                            <p>{{ information.current_weather }}</p>
                            </div>
                            <div class="col-md-3">
                                    <h2>Mars Facts</h2>
                                    </div>
                  </div>
    </div>

  </div>
</body>

</html>
