
.container {
  margin-right: 15px;
  margin-left: 15px;
}

div .facts-box {
    color: lightblue;
    padding: 15px;
    border: 2px solid gray;
}
.hempics {
    margin-right: 15px;
    margin-left: 15px;
}
.figure-caption {
    padding: 10px;
}
figure {
    padding: 15px;
}
/* .col-md-12 img {
    width: 50%;
}
figure .figure {
    padding: 5px;
    width: 50%;
}

.figure-img {
    width: 100%;
} */